{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Promotion</h1>

    <table border="1"; style="width:auto">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Nom promotion</th>
                <td>{{ promotion.nomPromotion }}</td>
            </tr>
            <tr>
                <th>Cycle</th>
                <td>{{ promotion.cycle.nomCycle }}</td>
            </tr>
            <tr>
                <th>Dateenreg</th>
                <td>{% if promotion.dateEnreg %}{{ promotion.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ promotion.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('index_promotion') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
