{% extends 'adminbase.html.twig' %}

{% block admin %}
    {{ render(controller('AppBundle:Etablissement:new')) }}
    <br><br><br>
    <h3>Liste des établissement</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher un etablissement"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-hide="phone" style="background:#122e48">Etablissement</th>
    <th data-hide="phone" style="background:#122e48">Type</th>
    <th data-toggle="true" style="background:#122e48">Statut</th>
    <th data-hide="phone" style="background:#122e48">Date Creation</th>
    <th data-hide="phone" style="background:#122e48">Adresse</th>
    <th data-toggle="true" style="background:#122e48">Téléphone</th>
    <th data-hide="phone" style="background:#122e48">Arrondissement</th>
    <th data-hide="phone" style="background:#122e48">Commune</th>
     <th data-hide="phone" style="background:#122e48">Action</th>
    </thead>
    <tbody >
    {% for etablissement in etablissements %}
    <tr>

            <td>{{ etablissement.nomEtablissement }}</td>
            <td>{% if etablissement.typeEtablissement==1 %}
            Collège
                {% else %}
                    Lycée
                    {% endif %}
            </td>
            <td>{% if etablissement.statutEtablissement == 1 %}
             Public
                {% else %}
                    Privé
                    {% endif %}
            </td>
            <td>{{ etablissement.dateCreation }}</td>
            <td>{{ etablissement.adresseEtablissement }}</td>
            <td>{{ etablissement.telEtablissement }}</td>
            <td>{{ etablissement.arrondissement.nomArrondissement }}</td>
            <td>{{ etablissement.commune.nomCommune }}</td>
        <td>
            {{ render(controller('AppBundle:Etablissement:edit',{'id':etablissement.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteEtab('{{ etablissement.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="10">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
