{% extends 'adminbase.html.twig' %}

{% block admin %}
    {{ render(controller('AppBundle:Bac_selection:new')) }}
    <br><br><br>
    <h3>Liste des bac selectionnés</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher un bas selectionné"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-toggle="true" style="background:#122e48">Id</th>
    <th data-hide="phone" style="background:#122e48">Bac</th>
    <th data-toggle="true" style="background:#122e48">Specialité</th>
    <th data-hide="phone" style="background:#122e48">Action</th>
    </thead>
    <tbody >
    {% for bac_selection in bac_selections %}
    <tr>
        <td>{ bac_selection.id }}</td>
        <td>{{ bac_selection.bac.nomBac }}</td>
        <td>{{ bac_selection.specialite.nomSpecialite }}</td>
        <td>
            {{ render(controller('AppBundle:Bac_selection:edit',{'id':bac_selection.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteDep('{{ bac_selection.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="4">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
