{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Promotions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nompromotion</th>
                <th>Dateenreg</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td><a href="{{ path('promotion_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a></td>
                <td>{{ promotion.nomPromotion }}</td>
                <td>{% if promotion.dateEnreg %}{{ promotion.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ promotion.commentaire }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('promotion_show', { 'id': promotion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('promotion_new') }}">Create a new promotion</a>
        </li>
    </ul>
{% endblock %}
