{% extends 'adminbase.html.twig' %}

{% block admin %}
    {{ render(controller('AppBundle:Promotion:new')) }}
    <br><br><br>
    <h3>Liste des promotions</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher une promotion"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-toggle="true" style="background:#122e48">Id</th>
    <th data-toggle="true" style="background:#122e48">Promotion</th>
    <th data-hide="phone" style="background:#122e48">Cycle</th>
    <th data-hide="phone" style="background:#122e48">Action</th>
    </thead>
    <tbody >
    {% for promotion in promotions %}
    <tr>
        <td>{{ promotion.id }}</td>
        <td>{{ promotion.nomPromotion }}</td>
        <td>{{ promotion.cycle.nomCycle }}</td>
        <td>
            {{ render(controller('AppBundle:Promotion:edit',{'id':promotion.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteDep('{{ promotion.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="4">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
