{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Ecole_sups list</h1>

    <table border="1"; style="width:auto";>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom ecole</th>
                <th>Nom universite</th>
                <th>Type ecole</th>
                <th>Statut ecole</th>
                <th>Adresse ecole</th>
                <th>Telephone</th>
                <th>Email ecole</th>
                <th>site web</th>
                <th>Année de creation</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecole_sup in ecole_sups %}
            <tr>
                <td><a href="{{ path('ecole_sup_show', { 'id': ecole_sup.id }) }}">{{ ecole_sup.id }}</a></td>
                <td>{{ ecole_sup.nomEcole }}</td>
                <td>{{ ecole_sup.nomUniversite }}</td>
                <td>{{ ecole_sup.typeEcole }}</td>
                <td>{{ ecole_sup.statutEcole }}</td>
                <td>{{ ecole_sup.adresEcole }}</td>
                <td>{{ ecole_sup.telEcole }}</td>
                <td>{{ ecole_sup.emailEcole }}</td>
                <td>{{ ecole_sup.urlEcole }}</td>
                <td>{{ ecole_sup.anneeCreation }}</td>
                <!--td>{% if ecole_sup.dateEnreg %}{{ ecole_sup.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td-->
                <td>
                    <ul>
                        
                            <a href="{{ path('ecole_sup_show', { 'id': ecole_sup.id }) }}">show</a>
                        
                            <a href="{{ path('ecole_sup_edit', { 'id': ecole_sup.id }) }}">edit</a>

                            <a href="{{ path('ecole_sup_delete', { 'id': ecole_sup.id }) }}">delete</a>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecole_sup_new') }}">Create a new ecole_sup</a>
        </li>
    </ul>
{% endblock %}
