{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Offres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Intituleoffre</th>
                <th>Natureoffre</th>
                <th>Typeoffre</th>
                <th>Dureeoffre</th>
                <th>Descriptionoffre</th>
                <th>Pjoffre</th>
                <th>Datevaliditeoffre</th>
                <th>Dateenreg</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td><a href="{{ path('offre_show', { 'id': offre.id }) }}">{{ offre.id }}</a></td>
                <td>{{ offre.intituleOffre }}</td>
                <td>{{ offre.natureOffre }}</td>
                <td>{{ offre.typeOffre }}</td>
                <td>{{ offre.dureeOffre }}</td>
                <td>{{ offre.descriptionOffre }}</td>
                <td>{{ offre.pjOffre }}</td>
                <td>{% if offre.datevaliditeOffre %}{{ offre.datevaliditeOffre|date('Y-m-d') }}{% endif %}</td>
                <td>{% if offre.dateEnreg %}{{ offre.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ offre.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('offre_show', { 'id': offre.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('offre_edit', { 'id': offre.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offre_new') }}">Create a new offre</a>
        </li>
    </ul>
{% endblock %}
