{% extends 'adminbase.html.twig' %}

{% block admin %}
    {{ render(controller('AppBundle:Filiere:new')) }}
    <br><br><br>
    <h3>Liste des filière</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher une filière"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-toggle="true" style="background:#122e48">Id</th>
    <th data-hide="phone" style="background:#122e48">Filière</th>
    <th data-hide="phone" style="background:#122e48">Domaine</th>
    <th data-hide="phone" style="background:#122e48">Action</th>
    </thead>
    <tbody >
    {% for filiere in filieres %}
    <tr>
        <td>{{ filiere.id }}</td>
        <td>{{ filiere.nomFiliere }}</td>
        <td>{{ filiere.domaine.nomDomaine }}</td>
        <td>
            {{ render(controller('AppBundle:Filiere:edit',{'id':filiere.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteDep('{{ filiere.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="4">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
