<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" />
		<title>{% block title %}{% endblock %}</title>
			{% block stylesheets %}{% endblock %}
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
		<link href="{{ absolute_url(asset('css/style.css') ) }}"
					  rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ absolute_url(asset('RTF2.png')) }}">
    </head>
	<style type="text/css">
<!-- Feuille de style exceptionnelle -->
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.widget-sidebar {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}

.title-widget-sidebar {
    font-size: 14pt;
    border-bottom: 2px solid #e5ebef;
    margin-bottom: 15px;
    padding-bottom: 10px;    
    margin-top: 0px;
}

.title-widget-sidebar:after {
    border-bottom: 2px solid #f1c40f;
    width: 150px;
    display: block;
    position: absolute;
    content: '';
    padding-bottom: 10px;
}
/*categories//////////////////////*/

.categories-btn{
    background-color: #F39C12;
    margin-top:1px;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    
}
.categories-btn:after {
    content: '\25BA';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.categories-btn:hover {
    background-color: #16A085;color: #fff;
}


/* sol yazılar */

article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
figure img{
    width: 100%;
    height: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}


/* Post tab custom css  */
.populat-post-tab {
    border: 1px solid #e0e0e0;
}

.populat-post-tab .nav-tabs {
    border: none;
}

.populat-post-tab .nav-tabs > li {
    width: 33.33333333333333%;
    text-align: center;
}

.populat-post-tab .nav-tabs > li a {
    background: #f0f5f7;
    margin-right: 0;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    display: block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 15px;
    color: #3a3c41;
    transition: all 0.01s;
}

.populat-post-tab .nav-tabs > li.active a {
    border-top: 2px solid #018EBB;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #ffffff;
}

.tab-post-list-wrap {
    margin: 15px 0;
    padding: 0 35px;
}

.tab-post-thumb {
    margin: 0 15px 0 0;
}

.tab-post-thumb figure {
    width: 65px;
}

.tab-post-thumb figure img{
    max-width: 70px;
}

.tab-post-title h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
}

.tab-post-title span {
    font-size: 12px;
    color: #999ca5;
}

.tab-post-list ul{
    list-style: none;
}

.tab-post-list ul li:before {
    content: "";
    width: 2px;
    height: 8px;
    padding: 0 4px;
    margin-right: 5px;
    background: #018EBB;
    display: inline-block;
}

.tab-post-list ul li small {
    display: block;
}

.tab-post-list ul li small abbr {
    font-size: 11px;
    line-height: 20px;
    text-decoration: none;
    border: none;
}



/* bulanık post */
.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post img:hover
{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #153756;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}
.noir{
color:black
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
  font-weight:80
}

li {
    list-style-type: none;
	color:white
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 0%, #122e48 0%);
    background: -webkit-linear-gradient(left, #54d400 0%, #122e48 0%);
    background: linear-gradient(45deg, #54d400 0%, #122e48 0%);
}

.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

li span{
	color:white;
}

footer.nb-footer {
background: #122e48;
border-top: 4px solid #b78c33; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #122e48;
color: #fff;
border-color: #b78c33; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #b78c33;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color: #b78c33; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }
.flex-column li a:hover{
text-decoration:underline
}

article.style1 {
  position: relative;
  height: auto;
  min-height:150px;
  overflow: hidden;
  margin-top: 15px;
  
}

article img {
  opacity:0;
  width:100%;
  z-index: 2;
  margin: 0 0 0 0;
  filter: grayscale(100%);
  transition: transform .4s ease-in-out, margin .4s ease-in-out, filter .4s ease-in-out;
}
article img.show{
  opacity:1;
}



@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

article.style1:hover img {
  margin: 0 0 0 0%;
  transform:scale(1.15);
  filter: grayscale(0%);
}

article.style1 .date {
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100px;
  height: 30px;
  background: #122e48;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 3px;
}

article.style1 .date.old {
  padding-top: 2px;
  background: rgb(0, 85, 150);
}

article.style1 .date.old:before {
  font-size: 14px;
}

article.style1 .content {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 4;
}

article.style1 .title {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #122e48;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  color: #fff;
  transition: background .4s ease-in-out;
}

article.style1:hover .title {
  background: #122e48;
}

article.style1 i.share {
  position: absolute;
  right: 0;
  font-size: 18px;
  padding: 2px 8px;
  transition: all .2s ease-in-out;
}

article.style1 i.share:hover {
  color: #faA634;
}

article.style1 .info {
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  background: #faA634;
  text-align: left;
  overflow: hidden;
  transition: max-height .3s ease-in-out, color .4s ease-in-out;
}

article.style1 .info p {
  padding: 5px;
  font-family: sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #fff;
}

article.style1:hover .info {
  max-height: 75px;
  color: #fff;
}


/*Style2*/

article.style2 {
  position: relative;
  height: auto;
  min-height:150px;
  overflow: hidden;
  margin-top: 15px;
}

article.style2:hover img {
  margin: 0 0 0 0%;
  transform:scale(1.15);
  filter: grayscale(0%);
}

article.style2 .date {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 50px;
  height: 30px;
  background: #faA634;
  font-family: 'Oswald';
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 3px;
}

article.style2 .date.old {
  padding-top: 2px;
  background: rgb(0, 85, 150);
}

article.style2 .date.old:before {
  font-size: 14px;
}

article.style2 .content {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 3;
}

article.style2 .title {
  bottom: 0;
  left: 0;
  margin-left: 50px;
  width: 100%;
  height: 30px;
  background: rgba(0, 85, 150, .75);
  font-family: 'Oswald';
  font-style: normal;
  font-size: 12px;
  text-align: left;
  padding: 6px;
  color: #fff;
  transition: background .4s ease-in-out;
}

article.style2:hover .title {
  background: rgba(0, 85, 150, 1);
}

article.style2 .share {
  font-family: 'Oswald';
  position: absolute;
  right: -70px;
  top: -28px;
  padding: 2px;
  width: 70px;
  font-size: 14px;
  transition: all .2s ease-in-out;
  color: #fff;
  background: rgba(0, 85, 150, 1);
}

article.style2 .share i {
  margin: 5px;
  font-size: 15px;
}

article.style2:hover .share {
  right: 0;
}

article.style2 .share:hover {
  color: #faA634;
}

article.style2 .info {
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  background: #faA634;
  text-align: left;
  overflow: hidden;
  transition: max-height .3s ease-in-out, color .4s ease-in-out;
}

article.style2:hover .info {
  max-height: 75px;
  color: #fff;
}

article.style2 .info p {
  padding: 5px;
  font-family: sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #fff;
}

.newsbottom {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  height: 80px;
  width: 100%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 57%, rgba(0, 0, 0, 0.54) 71%, rgba(0, 0, 0, 0.57) 75%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(57%, rgba(0, 0, 0, 0.43)), color-stop(71%, rgba(0, 0, 0, 0.54)), color-stop(75%, rgba(0, 0, 0, 0.57)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 57%, rgba(0, 0, 0, 0.54) 71%, rgba(0, 0, 0, 0.57) 75%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 57%, rgba(0, 0, 0, 0.54) 71%, rgba(0, 0, 0, 0.57) 75%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 57%, rgba(0, 0, 0, 0.54) 71%, rgba(0, 0, 0, 0.57) 75%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.43) 57%, rgba(0, 0, 0, 0.54) 71%, rgba(0, 0, 0, 0.57) 75%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.newsbottom .to-top {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  background: rgb(0, 85, 150);
  pointer-events: all;
  cursor: pointer;
}

.newsbottom .to-top i {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}

@media (max-width: 650px) {
  .col-xxs-12 {
    width: 100%;
  }
  .hidden-xxs {
    display: none;
  }
  article.style1:hover .info, article.style2:hover .info {
    max-height: 0px;
  }
  article img {
    filter: grayscale(0%);
  }
  article.style1:hover img, article.style2:hover img{
    width: 100%;
  margin: 0 0 0 0;
  }
  article.style2 .share {
  right: 0;
}
}

@media (max-width:768px) {
  .archive #active-article {
    display: none;
  }
}

	</style>
	
<!-- FIN feuille de style -->


<!-- Debut body -->
	
    <body >
	

    <!-- Navigation bar -->
		<div class="fixed-top">
		
		   <header class="topbar">
			  <div class="container">
				<div class="row">
				  <!-- social icon-->
				  <div class="col-md-4"><a class="navbar-brand" href="{{ path('homepage') }}" title="Accueil" style="text-transform: uppercase;margin-left:2px;color:white">
				  <img class="img-profile rounded-circle" src="{{ absolute_url(asset('RTF2.png')) }}" width="60" height="60">
				  </a></div>
				  <div class="col-sm-8">
					<ul class="social-network">
					  <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-facebook"></i></a></li>
					  <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
					  <li><a class="waves-effect waves-dark" href="#"><i class="fa fa-google-plus"></i></a></li>
					  <li><a class="waves-effect waves-dark" title="admin page" href="{{ path('administration') }}" style="text-decoration:none"><i class="fa fa-user"></i></a></li>
					</ul>
				  </div>

				</div>
			  </div>
		   </header>
		   
		   
		   <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
				
				 <div class="container-fluid"> 
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>
			 
				 <div class="collapse navbar-collapse" id="navbarResponsive">

					<ul class="navbar-nav ml-auto" style="" >

				  
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <span >COLLEGES & LYCEES</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:350%">

					  
					  <div class="container"  >
						<div class="row"  >
						<span class="text-uppercase noir"><u><b>ENS. GENERAL</b></u></span>
						</div>
						<div class="row"  >
						  <div class="col-md-4" >
							
							<ul class="nav flex-column"   >
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="{{ path('link_sixieme') }}">Sixième</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_cinquieme') }}">Cinquième</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_quatrieme') }}">Quatrième</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_coursetexercice') }}">Cours & exercices</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-4">
							<ul class="nav flex-column">
							<li class="nav-item noir">
							  <a class="nav-link active noir" style="color:#122e48" href="{{ path('link_troisieme') }}">Troisième</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_seconde') }}">Seconde</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_premiere') }}">Première</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_repetiteur') }}">Chercher un répétiteur</a>
							</li>
							
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-4">
							
								<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link active noir" style="color:#122e48" href="{{ path('link_terminale') }}">Terminal</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_bepc') }}">BEPC</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_bac') }}">BAC</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link noir" style="color:#122e48" href="{{ path('link_annuaire_college') }}">Annuaire des collèges</a>
							</li>
							
						  </ul>
							
						  </div>
						  <!-- /.col-md-4  -->
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
				  
				  				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <span >LYCEES TECHNIQUES</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:300%">

					  
					  <div class="container">
						<div class="row">
						<span class="text-uppercase noir"><u><b>LYCEES TECHNIQUES</b></u></span>
						</div>
						
						<div class="row">
						  <div class="col-md-6">
							
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" style="color:#122e48" href="#">Seconde et ses spécialités</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Première et ses spécialités</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Terminal et ses spécialités</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Mieux choisir sa spécialité</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Retrouver un répititeur</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Epreuves et exercices</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-6">
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Obtenir un coach personnel</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Obtenir un coaching</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Classification</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Chercher un répititeur</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Repertoire de lycées</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Quiz révision BAC</a>
							</li>
						  </ul>
						  </div>
						
						  <!-- /.col-md-4  -->
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
				  
				  
						<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <span>SUPERIEUR</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:500%">


					  <div class="container">
					  	<div class="row">
						<span class="text-uppercase noir"><u><b>SUPERIEUR</b></u></span>
						</div>
						<div class="row">
						  <div class="col-md-6">
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">BTS</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Licence Pro</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Licence/université</a>
							</li>
								<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Master/MBA</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Master Recherche.</a>
							</li>
						
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Doctorat</a>
							</li>
								<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Ecoles spécialisées</a>
							</li>
							
						
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-6" >
							<ul class="nav flex-column">
							
											
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Répertoire des formations</a>
							</li>							
						
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Formations par secteur</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Formation par région</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Répertoire des établissements</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Obtenir un coaching</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Exercices et épreuves</a>
							</li>
							
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Etudier à l'Etranger</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
					
						
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
				  
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					 <span> EXAMENS</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:350%">


					  <div class="container">
						<div class="row">
							<span class="text-uppercase noir"><u><b>EXAMENS</b></u></span>
						</div>
						<div class="row">
						  <div class="col-md-6">
						
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">BEPC</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">CAP</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">BAC</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-6">
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">BTS</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Licence</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Master</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
			
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					 <span> ORIENTATION</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:200%">


					  <div class="container">
						<div class="row">
						  <div class="col-md-12">
							<span class="text-uppercase noir"><u><b>ORIENTATION</b></u></span>
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link " style="color:#122e48" href="#">Orientation collège & lycée</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Orientation post-bac</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Témoignages</a>
							</li>
						  </ul>
						  </div>
						 
					
						  <!-- /.col-md-4  -->
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					 <span> METIERS </span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:400%;">


					  <div class="container">
						<div class="row">
						 <span class="text-uppercase noir"><u><b>METIERS</b></u></span>
						 </div>
						 
						 <div class="row">
						  <div class="col-md-6">
						  
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Fiche métier de A à Z</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Métiers par secteur</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Métiers par niveau d'étude</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-6  -->
						  <div class="col-md-6">
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Métiers qui recrutent</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Métiers par affinité</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Obtenir un coaching</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
				
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
						<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					 <span><b>STAGES & EMPLOI</b></span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:250%;">


					  <div class="container">
						<div class="row">
						<span class="text-uppercase noir"><u><b>STAGES & EMPLOI</b></u></span>
						</div>
						
						<div class="row">
						  <div class="col-md-6">
							
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">Jobs étudiants</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">Stages étudiant</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">Premier emploi</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-6">
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">Espace recruteur</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">Création d'entreprise </a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">CV, Lettre & entretien</a>
							</li>
							
							
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
				
						</div>
					  </div>
					  <!--  /.container  -->
					</div>
				  </li>
				  
				  
				 <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					 <span> STYLE DE VIE</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:200%;">


					  <div class="container">
						<div class="row">
							<span class="text-uppercase noir"><u><b>STYLE DE VIE</b></u></span>
							</div>
							
							<div class="row">
						  <div class="col-md-6">
						
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link"  style="color:#122e48"  href="#">Vie étudiante</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48"  href="#">Logement étudiant</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Bourses</a>
							</li>
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
						  <div class="col-md-6">
							<ul class="nav flex-column">
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Annuaire associations</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" style="color:#122e48" href="#">Santé-Mutuelle-Assurance</a>
							</li>
					
						  </ul>
						  </div>
						  <!-- /.col-md-4  -->
				
						</div>
					  </div>
					  <!--  /.container  -->


					</div>
				  </li>
				  
				  
				  <li class="nav-item">
					<a class="nav-link" href="#"><span>COACHING</span></a>
				  </li>
				  
					</ul>
				  </div>
			  </nav>
			  </div>
			<br>		   
<div class="container" >	
<br><br><br><br>
<div class="row">		
	<section >
    <div id="slider-animation" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#slider-animation" data-slide-to="0" class="active"></li>
    <li data-target="#slider-animation" data-slide-to="1"></li>
    <li data-target="#slider-animation" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/10/1b/bb/101bbb8a4e78d2a5d9589d60e410dac8.jpg" style="height:250px;width:100%" alt="Los Angeles">
        <div class="text-box">
            <h2 class="wow slideInRight" data-wow-duration="2s">Espace publicitaire</h2>
            <p class="wow slideInLeft" data-wow-duration="2s">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. </p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="http://en.ddpai.com/webcommon/images/mix3/animation/bac-2.png" style="height:250px;width:100%" alt="Chicago">
    <div class="text-box">
            <h2 class="wow slideInUp" data-wow-duration="4s" >Annonceur pour votre visibilité</h2>
            <p class="wow fadeInDown" data-wow-duration="4s">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. </p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="https://playthunee.com/assets/images/4player-bg.jpg" style="height:250px;width:100%" alt="New York">
    <div class="text-box">
            <h2 class="wow fadeInUp" data-wow-duration="4s">Espace dédié à la pub</h2>
            <p class="wow fadeInUp" data-wow-duration="2s">There is now an abundance of readable dummy texts. These are usually used when a text is required purely to fill a space. </p>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#slider-animation" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
    
</section>
</div>

	<div class="row">
	
   <marquee><p style="font-family: Impact; font-size: 12pt;color:#A33939"><i class="fa fa-warning"></i> Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor!</p></marquee>

	</div>





 {% block body %}
	 <div class="row">
		<div class="col-md-4">
		 
		    {% block sideLeft %}{% endblock %}
			
		</div>
		<div class="col-md-8">
			
			{% block linksContent %}{% endblock %}

		</div>
	 </div>
 
 {% endblock %}

		   
					
	
        {% block javascripts %}{% endblock %}

    <script src="{{ absolute_url(asset('js/jquery.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/bootstrap.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/navigation.js')) }}"></script>
	<script src="{{ absolute_url(asset('js/javascript.js')) }}"></script>
    <script>
        $(document).ready(function(){
		
		   wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100,
        callback:     function(box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );
	    wow.init();
    document.getElementById('moar').onclick = function() {
      var section = document.createElement('section');
      section.className = 'section--purple wow fadeInDown';
      this.parentNode.insertBefore(section, this);
    };
	
            
        });
    </script>
</div>




 <footer class="nb-footer">
<div class="container">
		<div class="row">
		<div class="col-sm-12">

		</div>

		<div class="col-md-3 col-sm-6">
		<div class="footer-info-single">
			<h2 class="title">Collèges & lycées</h2>
			<ul class="list-unstyled">
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Delivery Info</a></li>
			</ul>
		</div>
		</div>

		<div class="col-md-3 col-sm-6">
		<div class="footer-info-single">
			<h2 class="title">SUPERIEUR</h2>
			<ul class="list-unstyled">
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
			</ul>
		</div>
		</div>

		<div class="col-md-3 col-sm-6">
		<div class="footer-info-single">
			<h2 class="title">examens</h2>
			<ul class="list-unstyled">
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
				<li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
			</ul>
		</div>
		</div>

		<div class="col-md-3 col-sm-6">
		<div class="footer-info-single">
			<h2 class="title">Jobs, stages, emploi</h2>
			<p>Sample HTML page with Twitter's Bootstrap. Code example of Easy Sticky Footer using HTML, Javascript, jQuery, and CSS. This bootstrap tutorial covers all the major elements of responsive</p>
			
		</div>
		</div>
		</div>
		</div>

	<section class="copyright">
	<div class="container">
	<div class="row">
	<div class="col-sm-6">
	<p>Copyright © 2019Paul. DATA-CONCEPT.</p>
	</div>
	<div class="col-sm-6"></div>
	</div>
	</div>
	</section>
</footer>
    </body>
	<!-- FIN Body -->
</html>
