{% extends 'adminbase.html.twig' %}

{% block admin %}


<h3>Gestion des communes</h3>


   <h1>Communes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>

                <th>Nom commune</th>
                <th>nom Departement</th>

                <th>Nomcommune</th>

                <th>Dateenreg</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
            <tr>
                <td><a href="{{ path('commune_show', { 'id': commune.id }) }}">{{ commune.id }}</a></td>
                <td>{{ commune.nomCommune }}</td>

                <td>{{ commune.departement.nomDepartement }}</td>
                

                <td>{% if commune.dateEnreg %}{{ commune.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commune_show', { 'id': commune.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commune_edit', { 'id': commune.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commune_new') }}">Create a new commune</a>
        </li>
    </ul>
{% endblock %}

{% endblock %}



