{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Flashes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flash in flashes %}
            <tr>
                <td><a href="{{ path('flash_show', { 'id': flash.id }) }}">{{ flash.id }}</a></td>
                <td>{{ flash.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('flash_show', { 'id': flash.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('flash_edit', { 'id': flash.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flash_new') }}">Create a new flash</a>
        </li>
    </ul>
{% endblock %}
