{% extends 'adminbase.html.twig' %}

{% block admin %}
    {{ render(controller('AppBundle:Programme:new')) }}
    <br><br><br>
    <h3>Liste des programmes</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher un programme"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-hide="phone" style="background:#122e48">Matière</th>
    <th data-hide="phone" style="background:#122e48">Promotion</th>
    <th data-toggle="true" style="background:#122e48">Coefficient</th>
    <th data-hide="phone" style="background:#122e48">Masse Horaire</th>
    <th data-hide="phone" style="background:#122e48">Actions</th>
    </thead>
    <tbody >
    {% for programme in programmes %}
    <tr>
        <td>{{ programme.matiere.nomMatiere }}</td>
        <td>{{ programme.promotion.nomPromotion }}</td>
        <td>{{ programme.coef }}</td>
        <td>{{ programme.masseHoraire }}</td>
        <td>
            {{ render(controller('AppBundle:Programme:edit',{'id':programme.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteProg('{{ programme.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="6">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
