{% extends 'adminbase.html.twig' %}

{% block admin %}
    {{ render(controller('AppBundle:Ouvrage:new')) }}
    <br><br><br>
    <h3>Liste des Ouvrage</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher un ouvrage"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-hide="phone" style="background:#122e48">Nom Ouvrage</th>
    <th data-hide="phone" style="background:#122e48">Edition</th>
    <th data-toggle="true" style="background:#122e48">Auteur</th>
    <th data-hide="phone" style="background:#122e48">Année</th>
    <th data-hide="phone" style="background:#122e48">Actions</th>
    </thead>
    <tbody >
    {% for ouvrage in ouvrages %}
    <tr>
        <td>{{ ouvrage.nomOuvrage }}</td>
        <td>{{ ouvrage.edition }}</td>
        <td>{{ ouvrage.auteur }}</td>
        <td>{{ ouvrage.annee }}</td>
        <td>
            {{ render(controller('AppBundle:Ouvrage:edit',{'id':ouvrage.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteOuvrage('{{ ouvrage.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="6">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
