{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Ouvrage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ouvrage.id }}</td>
            </tr>
            <tr>
                <th>Nomouvrage</th>
                <td>{{ ouvrage.nomOuvrage }}</td>
            </tr>
            <tr>
                <th>Edition</th>
                <td>{{ ouvrage.edition }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ ouvrage.auteur }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ ouvrage.annee }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ ouvrage.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('index_ouvrage') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ouvrage_edit', { 'id': ouvrage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
