{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Departements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomdepartement</th>
                <th>Dateenreg</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td></td>
                <td>{{ departement.nomDepartement }}</td>
                <td>{% if departement.dateEnreg %}{{ departement.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departement_show', { 'id': departement.id }) }}">show</a>

                        </li>
                        <li>
                            <a href="{{ path('departement_edit', { 'id': departement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('departement_new') }}">Create a new departement</a>
        </li>
    </ul>
{% endblock %}
