{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Departement</h1>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Nom departement</th>
                    
                </tr>
                <tr class="info">
                    <td>{{ departement.id }}</td>
                    <td>{{ departement.nomDepartement }}</td>
                </tr>
            </tbody>
        </table>

        <div class="row text-center">
    
            <h2><a class="col-md-3" href="{{ path('departement_index') }}">Retour à la liste</a></h2>
              
            <h2><a class="col-md-3" href="{{ path('departement_edit', { 'id': departement.id }) }}">Modifier</a></h2>
               
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
            
        </div>
    </div>
    
{% endblock %}
