{% extends 'adminbase.html.twig' %}
{% block title %}Diplome Coach{% endblock %}
{% block admin %}
    {{ render(controller('AppBundle:Diplome_coach:new')) }}
    <br><br><br>
    <h3>Liste des Diplome Coach</h3>
    <div class="form-group">
        <div class = "input-group">
            <input type="text" id ="filter" name = "prenom" class="form-control" placeholder="Rechercher un Diplome Coach"/>
        </div>
    </div>
<table  class="footable" data-page-size ="10" data-filter="#filter">
    <thead >
    <th data-toggle="true" style="background:#122e48">Id</th>
    <th data-hide="phone" style="background:#122e48">Coach</th>
    <th data-hide="phone" style="background:#122e48">Diplome</th>
    <th data-toggle="true" style="background:#122e48">Expérience</th>
    <th data-hide="phone" style="background:#122e48">Cours Horaire</th>
    <th data-hide="phone" style="background:#122e48">Action</th>
    </thead>
    <tbody >
    {% for diplome_coach in diplome_coaches %}
    <tr>
        <td>{{ diplome_coach.id }}</td>
        <td>{{ diplome_coach.coach.nomCoach }}</td>
        <td>{{ diplome_coach.diplome.nomDiplome }}</td>
        <td>{{ diplome_coach.anexperienceCoach }}</td>
        <td>{{ diplome_coach.couthoraireCoach }}</td>
        <td>
            {{ render(controller('AppBundle:Diplome_coach:edit',{'id':diplome_coach.id})) }}
            <button class="btn btn-danger btn-sm confirm"  onclick="deleteDep('{{ diplome_coach.id }}')" ><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class = "hide-if-no-paging">
    <td colspan="6">

        <div class = "pagination">

        </div>

    </td>

    </tfoot>
</table>


    <script type="text/javascript">
        $(".footable").footable();
    </script>
{% endblock %}
