{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Client</h1>

    <table border="1"; style="width:auto";>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Raisonsocialeclient</th>
                <td>{{ client.raisonsocialeClient }}</td>
            </tr>
            <tr>
                <th>Nomclient</th>
                <td>{{ client.nomClient }}</td>
            </tr>
            <tr>
                <th>Prenomclient</th>
                <td>{{ client.prenomClient }}</td>
            </tr>
            <tr>
                <th>Professionclient</th>
                <td>{{ client.professionClient }}</td>
            </tr>
            <tr>
                <th>Sexeclient</th>
                <td>{{ client.sexeClient }}</td>
            </tr>
            <tr>
                <th>Adresseclient</th>
                <td>{{ client.adresseClient }}</td>
            </tr>
            <tr>
                <th>Telclient</th>
                <td>{{ client.telClient }}</td>
            </tr>
            <tr>
                <th>Emailclient</th>
                <td>{{ client.emailClient }}</td>
            </tr>
            <tr>
                <th>Dateenreg</th>
                <td>{% if client.dateEnreg %}{{ client.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
