{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pubtier</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pubtier.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pubtier.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ pubtier.content }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ pubtier.commentaire }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ pubtier.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pubtiers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pubtiers_edit', { 'id': pubtier.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form, {'action': path('pubtiers_delete',{'id':pubtier.id}), 'method': 'POST'}) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
