{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actuality</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actuality.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ actuality.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actuality.description }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ actuality.commentaire }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ actuality.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actuality_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actuality_edit', { 'id': actuality.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form, {'action': path('actuality_delete',{'id':actuality.id}), 'method': 'POST'}) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
