{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Cycles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Nomcycle</th>
                <th>Dateenreg</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cycle in cycles %}
            <tr>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>
                <td>{{ cycle.commentaire }}</td>
                <td>{{ cycle.nomCycle }}</td>
                <td>{% if cycle.dateEnreg %}{{ cycle.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cycle_show', { 'id': cycle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cycle_new') }}">Create a new cycle</a>
        </li>
    </ul>
{% endblock %}
