{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Arrondissements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomarrondissement</th>
                <th>Dateenreg</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arrondissement in arrondissements %}
            <tr>
                <td><a href="{{ path('arrondissement_show', { 'id': arrondissement.id }) }}">{{ arrondissement.id }}</a></td>
                <td>{{ arrondissement.nomArrondissement }}</td>
                <td>{% if arrondissement.dateEnreg %}{{ arrondissement.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('arrondissement_show', { 'id': arrondissement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('arrondissement_edit', { 'id': arrondissement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arrondissement_new') }}">Create a new arrondissement</a>
        </li>
    </ul>
{% endblock %}
